* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* TOP STRIP */
.top-strip {
    background: #7a0019;
    color: white;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 14px;
}

/* NAVBAR */
.navbar {
    background: #1c1c1c;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #e40046;
}

.search-bar {
    flex: 1;
    display: flex;
}

.search-bar input {
    flex: 1;
    padding: 10px;
}

.search-bar button {
    background: #e40046;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.search-bar button:hover {
    background: #c2003a;
}


.category-bar {
    background: #2a2a2a;
    padding: 10px;
}

.category-bar a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    background: linear-gradient(90deg, #2b0033, #000);
    color: white;
    display: flex;
    padding: 40px;
    gap: 20px;
}

.hero-left, .hero-right {
    width: 50%;
}

.image-placeholder,
.deal-card {
    background: #393939;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-placeholder {
    height: 260px;
}

.deal-card {
    height: 240px;
    padding: 10px;
    transition: transform 0.3s;
}

.deal-card:hover {
    transform: scale(1.05);
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;   
    object-position: center;
    transition: transform 0.4s ease;
}

.deal-card:hover .product-img {
    transform: scale(1.08);
}

.deal-card p {
    color: white;
    margin-top: 8px;
    font-size: 14px;
}


.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #111;
}

.feature-box {
    background: white;
    padding: 15px 30px;
    border-radius: 8px;
}


.deal {
    background: #111;
    color: white;
    padding: 40px;
}

.deal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}


footer {
    background: #1c1c1c;
    color: white;
    text-align: center;
    padding: 15px;
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-left, .hero-right {
        width: 100%;
    }
}
